/* nav {
    margin: 2% 2% 0% 2%;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: rgb(204, 85, 0);
  }
  
  li {
    display: inline;
    color: rgb(204, 85, 0);
    margin-left: 10px;
    font-size: 30px;
  } */